{% extends 'blog_app/base.html' %} 
{% block content%}
<div class="w-4/5 mx-auto text-center">
  <h1 class="text-3xl font-bold mb-4">Password reset sent</h1> 
  <h5 class="text-lg mb-4">We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5>
  <h6 class="w-3/5 mx-auto text-sm text-gray-600">If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</h6>
</div>
<div class="text-center mt-6">
  <a href="{% url 'home_page' %}" class="text-blue-600 hover:text-blue-800 underline">Return to home page</a>
</div>
{% endblock%}