<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input {
            font-weight: bold;
            color: #333;
            background-color: transparent;
            border-radius: 0.5rem;
            border: 2px solid white;
            padding-top: 10px;
        }
    </style>
</head>
<body class="flex justify-center items-center p-0 m-0 box-border w-screen h-screen bg-gray-900 text-white">
    <div>
        <form method="post" class="border-[2px]  rounded-3xl shadow-lg p-8">
            {% csrf_token %}
            {% for field in sign_up%}
                <div class="mb-4">
                    <label for="{{field.id_for_label}}">{{field.label}}:</label>
                    <p>{{ field }}</p>
                    <p>{{field.help_text}}</p>
                </div>
            {%endfor%}

            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>