{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="flex justify-center items-center">
    <div class="bg-white border-[2px]  rounded-3xl shadow-lg p-8">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            
            <button class="bg-yellow-500 px-2 py-1 rounded-lg hover:bg-yellow-400" type="submit">Update Profile</button>
            
        </form>
    </div>
</div>
{% endblock %}